<!DOCTYPE html>
<html lang="en" >
<head>
    <title>piyush_iot</title>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <script src="js/script.js"></script>
</head>
<body>
    <header>
        <h2>WELCOME TO THE IOT BASED WEB APPLICATION</h2>
        <br><br><br>
        <div class="container">
        <!-- Example form -->
        <form action="led_toggle.php" method="post" id="form" onsubmit="return validate_all('results');">
            <table cellspacing="10">
                <input type="submit" name="LED_ON" value="LED ON"> <br><br><input type="submit" name="LED_OFF"  value="LED OFF"></td>

            </table>
            <h3 id="results"></h3>
        </form>
    </div>

    </header>
</body>
</html>