<!DOCTYPE html>
<html lang="en" >
<head>
    <title>piyush_iot</title>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <script src="js/script.js"></script>
</head>
<body onload="timer = setTimeout('auto_reload()',1000);">
    <header>
        <h2>WELCOME TO THE IOT BASED WEB APPLICATION</h2>
        
    </header>
    <div class="container">
        <!-- Example form -->
        <form action="projects.php" method="post" id="form" onsubmit="return validate_all('results');">
            <table cellspacing="10">
                <tr><td>Login Id</td><td><input type="text" name="old_id" maxlength="25" id="login" onKeyUp="updatelength('login', 'login_length')"><br /><div id="login_length"></div> </td></tr>
                <tr><td>Password</td><td><input type="password" name="old_password" maxlength="25" id="password" onKeyUp="updatelength('password', 'pass_length')"><div id="pass_result"></div><br /><div id="pass_length"></div></td></tr>
                <tr><td colspan="2"><input type="submit" name="old_login" value="Login"></td></tr>
            </table>
        </form>
    </div>
</body>
</html>