<!DOCTYPE html>
<html lang="en" >
<head>
    <title>piyush_iot</title>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <script src="js/script.js"></script>
</head>
<body onload="timer = setTimeout('auto_reload()',500);">
    <header>
        <h2>WELCOME TO THE IOT BASED WEB APPLICATION</h2>
        
    </header>
    <div class="container">
        <!-- Example form -->
        <form action="index.php" method="post" id="form" onsubmit="return validate_all('results');">
            <table cellspacing="10">
                <tr><td>New User</td><td><td><td><td><td><td><td>Returning User</td><br />
                <tr><td><input type="submit" name="REGISTER" value="REGISTER"></td><td><td><td><td><td><td><td><input type="submit" name="LOGIN" value="LOGIN"></td></tr>
            </table>
        </form>
    </div>

    
</body>
</html>